.monitoringSearch {
  position: absolute;
  display: flex;
  width: 1200px;
  height: 700px;
  background-color: #1f2328;
  z-index: 1;
  left: 100px;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 5px;
  flex-direction: column;
  .saveIconPosition {
    display: flex;
    height: 30px;
  }
  .contents {
    border-top: 2px solid rgb(170, 170, 170);
    display: flex;
    flex-direction: row;
    padding: 25px 0px 0px 63px;
  }
}

.cycleInfoContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 30px 100px;
  height: 500px;
  background-color: #262a2e;
  border: 1px solid rgb(161, 161, 161);
  .infoTitle {
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    width: 110px;
    .blank {
      display: flex;
      flex: 1;
      border-bottom: 1px solid rgb(161, 161, 161);
      border-right: 1px solid rgb(161, 161, 161);
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: rgb(224, 224, 224);
    }
    .title {
      display: flex;
      flex-direction: column;
      flex: 5;

      .titleItem {
        font-size: 16px;
        font-weight: 600;
        color: rgb(224, 224, 224);
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(161, 161, 161);
        border-right: 1px solid rgb(161, 161, 161);
      }
    }
  }

  .infoValue {
    display: flex;
    background-color: rgb(161, 161, 161);
    flex-direction: column;
    max-width: 314px;
    white-space: nowrap;
    overflow-x: scroll;
    .channel {
      display: flex;
      background-color: rgb(161, 161, 161);
      flex-direction: row;
      white-space: nowrap;
      width: fit-content;
      gap: 1px;

      .channelName {
        background-color: #262a2e;
        width: 78px;
        height: 66px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(161, 161, 161);
        font-size: 17px;
        font-weight: 600;
      }
      .channelValue {
        display: flex;
        flex: 5;
        background-color: rgb(219, 219, 219);
        width: 78px;
        height: 334px;
        flex-direction: column;

        .channelItem {
          display: flex;
          flex: 1;
          border-bottom: 1px solid rgb(161, 161, 161);
          color: rgb(63, 63, 63);
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: 600;
          background-color: rgb(238, 238, 238);
        }
        .channelItem2 {
          display: flex;
          flex: 1;
          border-bottom: 1px solid rgb(161, 161, 161);
          color: rgb(63, 63, 63);
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
