.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  .filter {
    display: flex;
    flex-direction: column;
    flex: 6.5;
    width: 100%;
    .dropDown {
      display: flex;
    }
    .timePicker {
      display: flex;
    }
  }
  .bottonBox {
    display: flex;
    flex: 2;
    width: 100%;
    margin: 5px;
    background-color: #1f2328;
    border-radius: 5px;
    flex-direction: row;
    cursor: pointer;

    .expert {
      display: flex;
      flex: 1;
      background-color: rgb(160, 160, 160);
      margin: 5px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }
    .expert:hover{
      background-color: rgb(160, 160, 160,0.8);
    }
    .expert:active{
      background-color: rgb(160, 160, 160,0.6);
    }
    .search {
      display: flex;
      flex: 1;
      background-color: rgb(255, 61, 13);
      margin: 5px;
      margin-left: 0px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }
    .search:hover{
      background-color: rgb(255, 61, 13, 0.8);
      color: rgb(223, 223, 223);;
    }
    .search:active{
      background-color: rgb(255, 61, 13, 0.6);

    }
  }
}
